[*.cs]

# IDE0320: Make anonymous function static
dotnet_diagnostic.IDE0320.severity = suggestion
[*.cs]

# IDE0320: Make anonymous function static
dotnet_diagnostic.IDE0320.severity = none
[*.cs]

# IDE0320: Make anonymous function static
csharp_prefer_static_anonymous_function = false
[*.cs]

# IDE0320: Make anonymous function static
csharp_prefer_static_anonymous_function = true

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = none
